body{
    display: flex;
    justify-content: center;
    margin: 250px;
}
button{
    width: 35px;
    height: 300px;
    color: #fafafa;
    background-color: black;
}
button:focus{
    outline:0;
}

div{
    width: 90px;
    height: 300px;
    padding: 20px;
    margin-left: 2px;
    display: block;
    border: 2px solid  black;

}